# nvim
.config/nvim/plugin
# qtile
.config/qtile/__pycache__
# .local/bin/
.local/bin/platform-tools
# sc/
sc/*/target
sc/*/Cargo.lock
# wallust colors
.config/hypr/colors.conf
.config/waybar/colors.css
.config/waybar/old_design/colors.css
