/* set toolbar font */
#navigator-toolbox {
  font-family: "Source Code Pro", monospace !important
}

/* disable tab `x` button to close it (use mouse middle click) */
.tab-close-button.close-icon {
  display: none;
}

/* disable the spacer that normally is between tabs and the `x` for closing firefox */
.titlebar-spacer {
  display: none;
}

/* disable the `x` button for closing firefox */
.titlebar-button.titlebar-close {
  display: none;
}

/* disable the PiP button when playing a video (use right-click menu) */
#picture-in-picture-button-icon {
  display: none;
}

/* all of the below are making the toolbar as small as possible to save space */
:root {

/* URLBar: Fix vertical alignment */
#urlbar[breakout=true]:not([open="true"]) {
	--urlbar-height: 20px !important;
	--urlbar-toolbar-height: 24px !important;
}

/* URLBar: Fix URL address vertical aligment when megabar is open */
#urlbar[breakout=true][open="true"] {
	--urlbar-toolbar-height: 30px !important;
}

/* URLBar: Reduce row items padding */
.urlbarView-row-inner {
	padding-inline: var(--urlbarView-item-inline-padding);
	padding-block: 2px !important;
}

/* URLBar: Reduce and realign row bookmark icons */
.urlbarView-type-icon {
	width: 10px !important;
	height: 10px !important;
	margin-bottom: 0 !important;
	margin-inline-start: 10px !important;
}

/* URLBar: Reduce "This time, serach with" padding */
#urlbar .search-one-offs:not([hidden]) {
	padding-block: 4px !important;
}

/* Searchbar: Ensure toolbar height doesn't augment when searchbar is visible */
#urlbar-container,
#search-container {
	padding-block: 0 !important;
}

/* Searchbar: Make sure the min-height of the input is the same as the popup */
#search-container {
  min-width: 192px !important;
}

/* Toolbar: Reduce spacing */
#urlbar-container {
	--urlbar-container-height: 30px !important;
  margin-top: 0 !important;
}

/* Reload Button: Fix vertical alignment */
#reload-button {
	margin-block-start: -2px !important;
}

/* AppMenu: Header */
.panel-header {
	padding: 4px 0 0 4px !important;
}

/* AppMenu: Header button */
.panel-header > .subviewbutton-back {
	padding: 4px !important;
}
